*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln.docstates
*.suo
*.sdf
*.opensdf
*.cachefile
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
obj/
ipch/
*.obj
*.pdb
*.idb
*.ilk
*.log
*.tlog
_ReSharper*/
TestResults/
*.vspscc
*.vssscc
*.VC.db
*.VC.opendb
*.DotSettings.user
*.dbmdl
*.teamcity